{
  "openai": {
    "secret_key": "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "model": {
      "general_chat_message": "gpt-3.5-turbo",
      "mentioned_chat_message": "gpt-3.5-turbo"
    }
  },
  "slack": {
    "bot_token": "xoxb-xxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx",
    "app_token": "xapp-x-xxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "bot_id": "XXXXXXXXXXX",
    "general_chat_message": {
      "history_size": 20,
      "default_system_prompt": "You are ChatGPT, a large language model trained by OpenAI. Knowledge cutoff: 2021-09 Current date: 2023-03-04",
      "channels": [
        "XXXXXXXXXXX"
      ]
    },
    "mentioned_chat_message": {
      "system_prompt": "You are ChatGPT, a large language model trained by OpenAI. Knowledge cutoff: 2021-09 Current date: 2023-03-04"
    },
    "image": {
      "image_size": "512x512",
      "channels": [
        "XXXXXXXXXXX"
      ]
    }
  }
}
