{
  "openai": {
    "secret_key": "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  },
  "slack": {
    "bot_token": "xoxb-xxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx",
    "app_token": "xapp-x-xxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "bot_id": "XXXXXXXXXXX",
    "general_chat_message": {
      "history_size": 20,
      "channels": [
        "XXXXXXXXXXX"
      ]
    },
    "image": {
      "image_size": "512x512",
      "channels": [
        "XXXXXXXXXXX"
      ]
    }
  }
}
